<?xml version="1.0" encoding="utf-8"?>
<dotnetnuke version="3.0" type="Module">
  <folders>
    <folder>
      <name>DNNStuff - SQLViewPro</name>
      <description>SQLViewPro module allows you to combine multiple modules into a tabbed format. Visit http://www.dnnstuff.com for more information.</description>
      <version>03.01.03</version>
      <businesscontrollerclass>DNNStuff.SQLViewPro.SQLViewProController, DNNStuff.SQLViewPro</businesscontrollerclass>
      <resourcefile>resources.zip</resourcefile>
      <modules>
        <module>
          <friendlyname>DNNStuff - SQLViewPro</friendlyname>
          <controls>
            <control>
              <src>SQLViewPro.ascx</src>
              <type>View</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
            <control>
              <key>Settings</key>
              <title>SQLViewPro Settings</title>
              <src>Settings.ascx</src>
              <iconfile>icon_sqlviewpro_32px.gif</iconfile>
              <type>Edit</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
            <control>
              <key>EditConnection</key>
              <title>Edit Connection</title>
              <src>EditConnection.ascx</src>
              <iconfile>icon_sqlviewpro_32px.gif</iconfile>
              <type>Edit</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
            <control>
              <key>EditConnections</key>
              <title>Edit Connections</title>
              <src>EditConnections.ascx</src>
              <iconfile>icon_sqlviewpro_32px.gif</iconfile>
              <type>Edit</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
            <control>
              <key>EditParameter</key>
              <title>Edit Parameter</title>
              <src>EditParameter.ascx</src>
              <iconfile>icon_sqlviewpro_32px.gif</iconfile>
              <type>Edit</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
            <control>
              <key>EditReport</key>
              <title>Edit Report</title>
              <src>EditReport.ascx</src>
              <iconfile>icon_sqlviewpro_32px.gif</iconfile>
              <type>Edit</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
            <control>
              <key>EditReportSet</key>
              <title>Edit Report Set</title>
              <src>EditReportSet.ascx</src>
              <iconfile>icon_sqlviewpro_32px.gif</iconfile>
              <type>Edit</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
            <control>
              <key>EditReportSets</key>
              <title>Edit Report Sets</title>
              <src>EditReportSets.ascx</src>
              <iconfile>icon_sqlviewpro_32px.gif</iconfile>
              <type>Edit</type>
              <helpurl>http://www.dnnstuff.com</helpurl>
            </control>
          </controls>
        </module>
      </modules>
      <files>
        <file>
          <name>DNNStuff.SQLViewPro.dll</name>
        </file>
        <file>
          <name>DNNStuff.SQLViewPro.SqlDataProvider.dll</name>
        </file>
        <file>
          <name>DNNStuff.SQLViewPro.StandardParameters.dll</name>
        </file>
        <file>
          <name>DNNStuff.SQLViewPro.StandardReports.dll</name>
        </file>
        <file>
          <name>icon_SQLViewPro_32px.gif</name>
        </file>
        <file>
          <name>module.css</name>
        </file>
        <file>
          <name>help.html</name>
        </file>
        <file>
          <name>03.00.00.SqlDataProvider</name>
        </file>
        <file>
          <name>03.00.03.SqlDataProvider</name>
        </file>
        <file>
          <name>03.01.00.SqlDataProvider</name>
        </file>
        <file>
          <name>03.01.01.SqlDataProvider</name>
        </file>
        <file>
          <name>Uninstall.SqlDataProvider</name>
        </file>
      </files>
    </folder>
  </folders>
</dotnetnuke>